
  .appLayout {
    height: 100vh;

    display: grid;
    grid-template-rows: auto minmax(0, 1fr) auto;
    
    overflow: hidden;
  }

  .bodyLayout {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);

    min-height: 0;
    overflow: hidden;
  }

  .main {
    min-height: 0;
    min-width: 0;

    padding: 1.5rem;
    
    display: grid;
    grid-template-rows: minmax(0, 1fr);

    overflow: hidden;
  }


