
.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  border: 1px solid #e2e8f0;
  border-radius: 6px;
  padding: 1rem;
  background: #ffffff;
}

.tablesContainer {
  flex: 1;
  display: flex;  
  min-height: 0;

  gap: 1rem;
}

.tableBox {
  flex: 1;
  min-height: 0;
  overflow: auto;

  border: 1px solid #e2e8f0;
  border-radius: 6px;
  padding: 0.5rem;
}



